* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ECF8F8; /* Light Blue for a clean and light look */
  font-family: Georgia, serif; /* Changed font to Georgia for a more classic feel */
  line-height: 1.6;
}

header, footer {
  background-color: #82C0CC; /* Light Blue for consistency */
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif; /* Open Sans for the menu links */
}

.centered {
  text-align: center;
  padding: 40px;
}

#about {
  background-color: #EEE4E1; /* Soft Beige for a calm and approachable feel */
  padding: 40px 20px;
}

#about h2 {
  margin-bottom: 20px;
}

#about p {
  font-family: 'Open Sans', sans-serif; /* Open Sans for the introduction text */
}

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 100px; /* Added 100px right and left padding */
  background-color: #DEDBD2; /* Light Grayish Beige for a neutral, sophisticated tone */
}

.grid-item {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.05);
}


.grid-item:hover {
  transform: scale(1.05);
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6,
.project-7,
.project-8,
.project-9 {
  grid-column: span 1;
  grid-row: span 1;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

#contact {
  text-align: center;
  padding: 40px 20px;
}

form {
  max-width: 600px; /* 50% width */
  margin: 0 auto;
}

form input, form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif; /* Changed font to Open Sans for a modern, clean look */
}

button {
  padding: 15px 30px;
  background: linear-gradient(45deg, #EEE4E1, #BDBDBD); /* Gradient from Soft Beige to grey */
  color: white;
  border: none;
  border-radius: 30px; /* Oval shape */
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #EEE4E1, #A6A6A6); /* Slightly darker gradient on hover */
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #82C0CC; /* Light Blue for consistency */
  color: white;
}

@media (max-width: 768px) {
  .masonry-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .masonry-grid {
    grid-template-columns: 1fr;
  }
}

.project-image {
  width: 100%; /* Ensures the image fits the width of the project card */
  height: auto; /* Maintains the aspect ratio */
  margin-bottom: 10px; /* Adds space below the image */
  object-fit: cover; /* Ensures the image scales neatly */
}


